body {
    font: 12px/32px "Segoe UI", Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin: 0;
}

.window {
    height: 720px;
    width: 1280px;
    margin: 5% auto;
    border: 1px solid hsla(0, 0%, 50%, 0.5);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

.acrylic {
    backdrop-filter: blur(25px);
    background: rgba(35, 35, 35, 0.70);
    background-image: url("http://api.thumbr.it/whitenoise-370x370.png?background=ffffff00&noise=a0a0a0&density=50&opacity=4");
}



.navbar {
    height: 51px;
    widows: 100%;
    background: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 13px;
}

.navbar a {
    color: #d6d7d7;
    text-decoration: none;
    line-height: 47px;
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
}

.navbar a:hover {
    color: white;
}

.navbar a:focus {
    color: white;
    border-bottom: 4px solid #4db2ff;
}

.msbalance {
    filter: grayscale(1) brightness(2);
    border: 2px solid hsla(0, 0%, 50%, 0.15);
    border-radius: 50%;
    float: right;
    height: 22px;
    padding: 3px 2px 1px;
    margin: 10px 25px;
}




.content {
    padding: 25px;
    height: calc(100% - 134px);
    display: flex;
    flex-direction: column;
}